canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    position: absolute;
}

.fs-2 {
    font-size: 2rem !important;
}

.fs-15 {
    font-size: 1.5rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

.btn {
    background-color: #89216b !important;
    border-color: #89216b !important;
    color: white !important;
}

.btn:active {
    border-color: #89216b !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem #89216b44 !important;
    border-color: #89216b !important;
}

#passBtn {
    background-color: #ffc107 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

#passBtn:active,
#betBtn:active,
#bancoBtn:active,
#pot:active,
.signout:active {
    border-color: transparent !important;
}

#passBtn:focus,
#betBtn:focus,
#bancoBtn:focus,
#pot:focus,
.signout:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}

#betBtn {
    background-color: #343a40 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

#bancoBtn {
    background-color: #dc3545 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

#pot {
    background-color: #28a745 !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.signout {
    background-color: #e83e8c !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

body {
    /* background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px; */
    /* background-color: purple; */
    /* background-size: 64px 128px; */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#89216b+0,da4453+0,89216b+100,89216b+100 */
    background: #89216b;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #89216b 0%, #da4453 0%, #89216b 100%, #89216b 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #89216b 0%, #da4453 0%, #89216b 100%, #89216b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #89216b 0%, #da4453 0%, #89216b 100%, #89216b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#89216b', endColorstr='#89216b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.bg-white {
    background-color: transparent !important;
}

.rounded-xl {
    border-radius: 2rem !important;
}

.playerCard {
    padding: 5px;
    display: flex;
}

.playerName {
    margin-right: 5px;
}

.animate {
    transform: scale(1);
}

.card1 {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color: black;
    margin: 3px;
    margin-right: 10px;
}


/* WebKit and Opera browsers */

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(180deg);
    }
}


/* all other browsers */

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.btn:disabled {
    opacity: 50%;
}


/* 
#stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
} */


/* .card1 {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.75s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 0.75s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
} */

.card1+.card1 {
    margin-left: 10px;
    margin-right: 0px;
}

.card1 .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card1 .suit {
    background-image: url('https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png');
    height: 100px;
    width: 90px;
}

.card1 .diamonds {
    background-position-y: 100px;
}

.card1 .hearts {
    background-position-x: 90px;
}

.card1 .clubs {
    background-position-x: 90px;
    background-position-y: 100px;
}

#revealed {
    position: absolute;
    width: -webkit-fill-available;
    background-color: yellow;
    height: -webkit-fill-available;
    text-align: center;
}

.cardRevealOverlay {
    background-color: white;
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

.card2 {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color: black;
    margin: 3px;
    margin-right: 10px;
}

.card2 .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card2 .suit {
    background-image: url("../images/card.png");
    height: 50px;
    width: 45px;
}

.card2 .diamonds {
    background-position-y: 50px;
}

.card2 .hearts {
    background-position-x: 45px;
}

.card2 .clubs {
    background-position-x: 45px;
    background-position-y: 50px;
}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .card2 {
        padding: 10px;
        border: solid 1px #808080;
        background-color: white;
        display: inline-block;
        border-radius: 10px;
        font-size: 14pt;
        text-align: center;
        color: black;
        margin: 3px;
        margin-right: 10px;
    }
    .card2 .value {
        font-size: 15pt;
        font-family: sans-serif;
    }
    .card2 .suit {
        background-image: url("https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png");
        height: 100px;
        width: 90px;
    }
    .card2 .diamonds {
        background-position-y: 100px;
    }
    .card2 .hearts {
        background-position-x: 90px;
    }
    .card2 .clubs {
        background-position-x: 90px;
        background-position-y: 100px;
    }
}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .card2 {
        padding: 10px;
        border: solid 1px #808080;
        background-color: white;
        display: inline-block;
        border-radius: 10px;
        font-size: 14pt;
        text-align: center;
        color: black;
        margin: 3px;
        margin-right: 10px;
    }
    .card2 .value {
        font-size: 15pt;
        font-family: sans-serif;
    }
    .card2 .suit {
        background-image: url("https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png");
        height: 100px;
        width: 90px;
    }
    .card2 .diamonds {
        background-position-y: 100px;
    }
    .card2 .hearts {
        background-position-x: 90px;
    }
    .card2 .clubs {
        background-position-x: 90px;
        background-position-y: 100px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .card2 {
        padding: 10px;
        border: solid 1px #808080;
        background-color: white;
        display: inline-block;
        border-radius: 10px;
        font-size: 14pt;
        text-align: center;
        color: black;
        margin: 3px;
        margin-right: 10px;
    }
    .card2 .value {
        font-size: 15pt;
        font-family: sans-serif;
    }
    .card2 .suit {
        background-image: url("https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png");
        height: 100px;
        width: 90px;
    }
    .card2 .diamonds {
        background-position-y: 100px;
    }
    .card2 .hearts {
        background-position-x: 90px;
    }
    .card2 .clubs {
        background-position-x: 90px;
        background-position-y: 100px;
    }
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .card2 {
        padding: 10px;
        border: solid 1px #808080;
        background-color: white;
        display: inline-block;
        border-radius: 10px;
        font-size: 14pt;
        text-align: center;
        color: black;
        margin: 3px;
        margin-right: 10px;
    }
    .card2 .value {
        font-size: 15pt;
        font-family: sans-serif;
    }
    .card2 .suit {
        background-image: url("https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png");
        height: 100px;
        width: 90px;
    }
    .card2 .diamonds {
        background-position-y: 100px;
    }
    .card2 .hearts {
        background-position-x: 90px;
    }
    .card2 .clubs {
        background-position-x: 90px;
        background-position-y: 100px;
    }
}