.fs-2 {
    font-size: 2rem !important;
}

.fs-15 {
    font-size: 1.5rem !important;
}

.fs-1 {
    font-size: 1rem !important;
}

body {
    background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}

.bg-white {
    background-color: #fff !important;
}

.rounded-xl {
    border-radius: 2rem !important;
}

.playerCard {
    padding: 5px;
    display: flex;
}

.playerName {
    margin-right: 5px;
}

.animate {
    transform: scale(1);
}

.card1 {
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color: black;
    margin: 3px;
    margin-right: 10px;
}


/* WebKit and Opera browsers */

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(180deg);
    }
}


/* all other browsers */

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.btn:disabled {
    opacity: 50%;
}


/* 
#stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
} */


/* .card1 {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.75s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 0.75s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
} */

.card1+.card1 {
    margin-left: 10px;
    margin-right: 0px;
}

.card1 .value {
    font-size: 15pt;
    font-family: sans-serif;
}

.card1 .suit {
    background-image: url('https://raw.githubusercontent.com/Manalimodi4/BancoGame/master/src/main/resources/static/card.png');
    height: 100px;
    width: 90px;
}

.card1 .diamonds {
    background-position-y: 100px;
}

.card1 .hearts {
    background-position-x: 90px;
}

.card1 .clubs {
    background-position-x: 90px;
    background-position-y: 100px;
}

#revealed {
    position: absolute;
    width: -webkit-fill-available;
    background-color: yellow;
    height: -webkit-fill-available;
    text-align: center;
}

.cardRevealOverlay {
    background-color: white;
    display: none;
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
}